/Rotary Encoder/rotary_encoder.X/build/
.vscode
_build/LCDfirmwaretest/default/build.ninja
_build/FL2_PLL/default/build.ninja
.gitignore
_build/FL2_PLL/default/cmake_install.cmake
_build/FL2_PLL/default/CMakeCache.txt
_build/FL2_PLL/default/compile_commands.json
_build/FL2_PLL/default/CMakeFiles/cmake.check_cache
_build/FL2_PLL/default/CMakeFiles/CMakeConfigureLog.yaml
_build/FL2_PLL/default/CMakeFiles/rules.ninja
_build/FL2_PLL/default/CMakeFiles/TargetDirectories.txt
_build/FL2_PLL/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/FL2_PLL/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/FL2_PLL/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/FL_1_BlinkingLED/default/build.ninja
_build/FL_1_BlinkingLED/default/cmake_install.cmake
_build/FL_1_BlinkingLED/default/CMakeCache.txt
_build/FL_1_BlinkingLED/default/compile_commands.json
_build/FL_1_BlinkingLED/default/CMakeFiles/cmake.check_cache
_build/FL_1_BlinkingLED/default/CMakeFiles/CMakeConfigureLog.yaml
_build/FL_1_BlinkingLED/default/CMakeFiles/rules.ninja
_build/FL_1_BlinkingLED/default/CMakeFiles/TargetDirectories.txt
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/LCD1602Firmware/default/build.ninja
_build/LCD1602Firmware/default/cmake_install.cmake
_build/LCD1602Firmware/default/CMakeCache.txt
_build/LCD1602Firmware/default/compile_commands.json
_build/LCD1602Firmware/default/CMakeFiles/cmake.check_cache
_build/LCD1602Firmware/default/CMakeFiles/CMakeConfigureLog.yaml
_build/LCD1602Firmware/default/CMakeFiles/rules.ninja
_build/LCD1602Firmware/default/CMakeFiles/TargetDirectories.txt
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/LCDfirmwaretest/default/cmake_install.cmake
_build/LCDfirmwaretest/default/CMakeCache.txt
_build/LCDfirmwaretest/default/compile_commands.json
_build/LCDfirmwaretest/default/CMakeFiles/cmake.check_cache
_build/LCDfirmwaretest/default/CMakeFiles/CMakeConfigureLog.yaml
_build/LCDfirmwaretest/default/CMakeFiles/rules.ninja
_build/LCDfirmwaretest/default/CMakeFiles/TargetDirectories.txt
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/M1_Firmware/default/build.ninja
_build/M1_Firmware/default/cmake_install.cmake
_build/M1_Firmware/default/CMakeCache.txt
_build/M1_Firmware/default/compile_commands.json
_build/M1_Firmware/default/.cache/clangd/index/alltypes.h.F07B7867E9352243.idx
_build/M1_Firmware/default/.cache/clangd/index/builtins.h.64CE47DB6423289C.idx
_build/M1_Firmware/default/.cache/clangd/index/common.h.CAE97DAF12AB0CC7.idx
_build/M1_Firmware/default/.cache/clangd/index/delay_basic.h.ECA25EE66420E65E.idx
_build/M1_Firmware/default/.cache/clangd/index/delay.h.EC7C230ED527D631.idx
_build/M1_Firmware/default/.cache/clangd/index/features.h.7D9AC0D2EDBB3753.idx
_build/M1_Firmware/default/.cache/clangd/index/fuse.h.0C5CCD6C7994FDA7.idx
_build/M1_Firmware/default/.cache/clangd/index/inttypes.h.B76597F8241727DE.idx
_build/M1_Firmware/default/.cache/clangd/index/io.h.A61C289B45AC4CFF.idx
_build/M1_Firmware/default/.cache/clangd/index/iom324pb.h.CAF8D974BE7432D4.idx
_build/M1_Firmware/default/.cache/clangd/index/lock.h.F141330C8DCCA7F0.idx
_build/M1_Firmware/default/.cache/clangd/index/main.c.8CC07E053DBD6539.idx
_build/M1_Firmware/default/.cache/clangd/index/math.h.C21F75EAE772ADA3.idx
_build/M1_Firmware/default/.cache/clangd/index/portpins.h.CBC46F0E55635863.idx
_build/M1_Firmware/default/.cache/clangd/index/sfr_defs.h.C07AC0FAC4C49240.idx
_build/M1_Firmware/default/.cache/clangd/index/Si5351.c.7A5BEDB4A2FD0E0C.idx
_build/M1_Firmware/default/.cache/clangd/index/Si5351.h.1F8E1D4D4A4F78A0.idx
_build/M1_Firmware/default/.cache/clangd/index/stdbool.h.F1FA24AEBD29F22F.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.288842A3A2959794.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.32132119C9B63065.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.CA2C977AEB4286EA.idx
_build/M1_Firmware/default/.cache/clangd/index/stdio.h.4C682863B5EEF90A.idx
_build/M1_Firmware/default/.cache/clangd/index/twi.c.AD0E5FAE61931DF8.idx
_build/M1_Firmware/default/.cache/clangd/index/twi.h.3AD1CABC12394929.idx
_build/M1_Firmware/default/CMakeFiles/cmake.check_cache
_build/M1_Firmware/default/CMakeFiles/CMakeConfigureLog.yaml
_build/M1_Firmware/default/CMakeFiles/rules.ninja
_build/M1_Firmware/default/CMakeFiles/TargetDirectories.txt
_build/M1_Firmware/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/M1_Firmware/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/M1_Firmware/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/rotary_encoder/default/build.ninja
_build/rotary_encoder/default/cmake_install.cmake
_build/rotary_encoder/default/CMakeCache.txt
_build/rotary_encoder/default/compile_commands.json
_build/rotary_encoder/default/CMakeFiles/cmake.check_cache
_build/rotary_encoder/default/CMakeFiles/CMakeConfigureLog.yaml
_build/rotary_encoder/default/CMakeFiles/rules.ninja
_build/rotary_encoder/default/CMakeFiles/TargetDirectories.txt
_build/rotary_encoder/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/rotary_encoder/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/rotary_encoder/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/test/default/build.ninja
_build/test/default/cmake_install.cmake
_build/test/default/CMakeCache.txt
_build/test/default/compile_commands.json
_build/test/default/CMakeFiles/cmake.check_cache
_build/test/default/CMakeFiles/CMakeConfigureLog.yaml
_build/test/default/CMakeFiles/rules.ninja
_build/test/default/CMakeFiles/TargetDirectories.txt
_build/test/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/test/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/test/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
cmake/FL2_PLL/default/CMakeLists.txt
cmake/FL2_PLL/default/CMakePresets.json
cmake/FL2_PLL/default/.generated/file.cmake
cmake/FL2_PLL/default/.generated/main.cmake
cmake/FL2_PLL/default/.generated/overrides.cmake
cmake/FL2_PLL/default/.generated/rule.cmake
cmake/FL2_PLL/default/.generated/toolchain.cmake
cmake/FL_1_BlinkingLED/default/CMakeLists.txt
cmake/FL_1_BlinkingLED/default/CMakePresets.json
cmake/FL_1_BlinkingLED/default/.generated/file.cmake
cmake/FL_1_BlinkingLED/default/.generated/main.cmake
cmake/FL_1_BlinkingLED/default/.generated/overrides.cmake
cmake/FL_1_BlinkingLED/default/.generated/rule.cmake
cmake/FL_1_BlinkingLED/default/.generated/toolchain.cmake
cmake/LCD1602Firmware/default/CMakeLists.txt
cmake/LCD1602Firmware/default/CMakePresets.json
cmake/LCD1602Firmware/default/.generated/file.cmake
cmake/LCD1602Firmware/default/.generated/main.cmake
cmake/LCD1602Firmware/default/.generated/overrides.cmake
cmake/LCD1602Firmware/default/.generated/rule.cmake
cmake/LCD1602Firmware/default/.generated/toolchain.cmake
cmake/LCDfirmwaretest/default/CMakeLists.txt
cmake/LCDfirmwaretest/default/CMakePresets.json
cmake/LCDfirmwaretest/default/.generated/file.cmake
cmake/LCDfirmwaretest/default/.generated/main.cmake
cmake/LCDfirmwaretest/default/.generated/overrides.cmake
cmake/LCDfirmwaretest/default/.generated/rule.cmake
cmake/LCDfirmwaretest/default/.generated/toolchain.cmake
cmake/M1_Firmware/default/CMakeLists.txt
cmake/M1_Firmware/default/CMakePresets.json
cmake/M1_Firmware/default/.generated/file.cmake
cmake/M1_Firmware/default/.generated/main.cmake
cmake/M1_Firmware/default/.generated/overrides.cmake
cmake/M1_Firmware/default/.generated/rule.cmake
cmake/M1_Firmware/default/.generated/toolchain.cmake
cmake/rotary_encoder/default/CMakeLists.txt
cmake/rotary_encoder/default/CMakePresets.json
cmake/rotary_encoder/default/.generated/file.cmake
cmake/rotary_encoder/default/.generated/main.cmake
cmake/rotary_encoder/default/.generated/overrides.cmake
cmake/rotary_encoder/default/.generated/rule.cmake
cmake/rotary_encoder/default/.generated/toolchain.cmake
cmake/test/default/CMakeLists.txt
cmake/test/default/CMakePresets.json
cmake/test/default/.generated/file.cmake
cmake/test/default/.generated/main.cmake
cmake/test/default/.generated/overrides.cmake
cmake/test/default/.generated/rule.cmake
cmake/test/default/.generated/toolchain.cmake
.gitignore
.gitignore
_build/FL2_PLL/default/cmake_install.cmake
_build/FL2_PLL/default/CMakeCache.txt
_build/FL2_PLL/default/compile_commands.json
_build/FL2_PLL/default/CMakeFiles/cmake.check_cache
_build/FL2_PLL/default/CMakeFiles/CMakeConfigureLog.yaml
_build/FL2_PLL/default/CMakeFiles/rules.ninja
_build/FL2_PLL/default/CMakeFiles/TargetDirectories.txt
_build/FL2_PLL/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/FL2_PLL/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/FL2_PLL/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/FL_1_BlinkingLED/default/build.ninja
_build/FL_1_BlinkingLED/default/cmake_install.cmake
_build/FL_1_BlinkingLED/default/CMakeCache.txt
_build/FL_1_BlinkingLED/default/compile_commands.json
_build/FL_1_BlinkingLED/default/CMakeFiles/cmake.check_cache
_build/FL_1_BlinkingLED/default/CMakeFiles/CMakeConfigureLog.yaml
_build/FL_1_BlinkingLED/default/CMakeFiles/rules.ninja
_build/FL_1_BlinkingLED/default/CMakeFiles/TargetDirectories.txt
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/FL_1_BlinkingLED/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/LCD1602Firmware/default/build.ninja
_build/LCD1602Firmware/default/cmake_install.cmake
_build/LCD1602Firmware/default/CMakeCache.txt
_build/LCD1602Firmware/default/compile_commands.json
_build/LCD1602Firmware/default/CMakeFiles/cmake.check_cache
_build/LCD1602Firmware/default/CMakeFiles/CMakeConfigureLog.yaml
_build/LCD1602Firmware/default/CMakeFiles/rules.ninja
_build/LCD1602Firmware/default/CMakeFiles/TargetDirectories.txt
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/LCD1602Firmware/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/LCDfirmwaretest/default/cmake_install.cmake
_build/LCDfirmwaretest/default/CMakeCache.txt
_build/LCDfirmwaretest/default/compile_commands.json
_build/LCDfirmwaretest/default/CMakeFiles/cmake.check_cache
_build/LCDfirmwaretest/default/CMakeFiles/CMakeConfigureLog.yaml
_build/LCDfirmwaretest/default/CMakeFiles/rules.ninja
_build/LCDfirmwaretest/default/CMakeFiles/TargetDirectories.txt
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/LCDfirmwaretest/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/M1_Firmware/default/build.ninja
_build/M1_Firmware/default/cmake_install.cmake
_build/M1_Firmware/default/CMakeCache.txt
_build/M1_Firmware/default/compile_commands.json
_build/M1_Firmware/default/.cache/clangd/index/alltypes.h.F07B7867E9352243.idx
_build/M1_Firmware/default/.cache/clangd/index/builtins.h.64CE47DB6423289C.idx
_build/M1_Firmware/default/.cache/clangd/index/common.h.CAE97DAF12AB0CC7.idx
_build/M1_Firmware/default/.cache/clangd/index/delay_basic.h.ECA25EE66420E65E.idx
_build/M1_Firmware/default/.cache/clangd/index/delay.h.EC7C230ED527D631.idx
_build/M1_Firmware/default/.cache/clangd/index/features.h.7D9AC0D2EDBB3753.idx
_build/M1_Firmware/default/.cache/clangd/index/fuse.h.0C5CCD6C7994FDA7.idx
_build/M1_Firmware/default/.cache/clangd/index/inttypes.h.B76597F8241727DE.idx
_build/M1_Firmware/default/.cache/clangd/index/io.h.A61C289B45AC4CFF.idx
_build/M1_Firmware/default/.cache/clangd/index/iom324pb.h.CAF8D974BE7432D4.idx
_build/M1_Firmware/default/.cache/clangd/index/lock.h.F141330C8DCCA7F0.idx
_build/M1_Firmware/default/.cache/clangd/index/main.c.8CC07E053DBD6539.idx
_build/M1_Firmware/default/.cache/clangd/index/math.h.C21F75EAE772ADA3.idx
_build/M1_Firmware/default/.cache/clangd/index/portpins.h.CBC46F0E55635863.idx
_build/M1_Firmware/default/.cache/clangd/index/sfr_defs.h.C07AC0FAC4C49240.idx
_build/M1_Firmware/default/.cache/clangd/index/Si5351.c.7A5BEDB4A2FD0E0C.idx
_build/M1_Firmware/default/.cache/clangd/index/Si5351.h.1F8E1D4D4A4F78A0.idx
_build/M1_Firmware/default/.cache/clangd/index/stdbool.h.F1FA24AEBD29F22F.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.288842A3A2959794.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.32132119C9B63065.idx
_build/M1_Firmware/default/.cache/clangd/index/stdint.h.CA2C977AEB4286EA.idx
_build/M1_Firmware/default/.cache/clangd/index/stdio.h.4C682863B5EEF90A.idx
_build/M1_Firmware/default/.cache/clangd/index/twi.c.AD0E5FAE61931DF8.idx
_build/M1_Firmware/default/.cache/clangd/index/twi.h.3AD1CABC12394929.idx
_build/M1_Firmware/default/CMakeFiles/cmake.check_cache
_build/M1_Firmware/default/CMakeFiles/CMakeConfigureLog.yaml
_build/M1_Firmware/default/CMakeFiles/rules.ninja
_build/M1_Firmware/default/CMakeFiles/TargetDirectories.txt
_build/M1_Firmware/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/M1_Firmware/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/M1_Firmware/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/rotary_encoder/default/build.ninja
_build/rotary_encoder/default/cmake_install.cmake
_build/rotary_encoder/default/CMakeCache.txt
_build/rotary_encoder/default/compile_commands.json
_build/rotary_encoder/default/CMakeFiles/cmake.check_cache
_build/rotary_encoder/default/CMakeFiles/CMakeConfigureLog.yaml
_build/rotary_encoder/default/CMakeFiles/rules.ninja
_build/rotary_encoder/default/CMakeFiles/TargetDirectories.txt
_build/rotary_encoder/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/rotary_encoder/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/rotary_encoder/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
_build/test/default/build.ninja
_build/test/default/cmake_install.cmake
_build/test/default/CMakeCache.txt
_build/test/default/compile_commands.json
_build/test/default/CMakeFiles/cmake.check_cache
_build/test/default/CMakeFiles/CMakeConfigureLog.yaml
_build/test/default/CMakeFiles/rules.ninja
_build/test/default/CMakeFiles/TargetDirectories.txt
_build/test/default/CMakeFiles/3.27.1/CMakeCCompiler.cmake
_build/test/default/CMakeFiles/3.27.1/CMakeSystem.cmake
_build/test/default/CMakeFiles/3.27.1/CompilerIdC/CMakeCCompilerId.c
cmake/FL2_PLL/default/CMakeLists.txt
cmake/FL2_PLL/default/CMakePresets.json
cmake/FL2_PLL/default/.generated/file.cmake
cmake/FL2_PLL/default/.generated/main.cmake
cmake/FL2_PLL/default/.generated/overrides.cmake
cmake/FL2_PLL/default/.generated/rule.cmake
cmake/FL2_PLL/default/.generated/toolchain.cmake
cmake/FL_1_BlinkingLED/default/CMakeLists.txt
cmake/FL_1_BlinkingLED/default/CMakePresets.json
cmake/FL_1_BlinkingLED/default/.generated/file.cmake
cmake/FL_1_BlinkingLED/default/.generated/main.cmake
cmake/FL_1_BlinkingLED/default/.generated/overrides.cmake
cmake/FL_1_BlinkingLED/default/.generated/rule.cmake
cmake/FL_1_BlinkingLED/default/.generated/toolchain.cmake
cmake/LCD1602Firmware/default/CMakeLists.txt
cmake/LCD1602Firmware/default/CMakePresets.json
cmake/LCD1602Firmware/default/.generated/file.cmake
cmake/LCD1602Firmware/default/.generated/main.cmake
cmake/LCD1602Firmware/default/.generated/overrides.cmake
cmake/LCD1602Firmware/default/.generated/rule.cmake
cmake/LCD1602Firmware/default/.generated/toolchain.cmake
cmake/LCDfirmwaretest/default/CMakeLists.txt
cmake/LCDfirmwaretest/default/CMakePresets.json
cmake/LCDfirmwaretest/default/.generated/file.cmake
cmake/LCDfirmwaretest/default/.generated/main.cmake
cmake/LCDfirmwaretest/default/.generated/overrides.cmake
cmake/LCDfirmwaretest/default/.generated/rule.cmake
cmake/LCDfirmwaretest/default/.generated/toolchain.cmake
cmake/M1_Firmware/default/CMakeLists.txt
cmake/M1_Firmware/default/CMakePresets.json
cmake/M1_Firmware/default/.generated/file.cmake
cmake/M1_Firmware/default/.generated/main.cmake
cmake/M1_Firmware/default/.generated/overrides.cmake
cmake/M1_Firmware/default/.generated/rule.cmake
cmake/M1_Firmware/default/.generated/toolchain.cmake
cmake/rotary_encoder/default/CMakeLists.txt
cmake/rotary_encoder/default/CMakePresets.json
cmake/rotary_encoder/default/.generated/file.cmake
cmake/rotary_encoder/default/.generated/main.cmake
cmake/rotary_encoder/default/.generated/overrides.cmake
cmake/rotary_encoder/default/.generated/rule.cmake
cmake/rotary_encoder/default/.generated/toolchain.cmake
cmake/test/default/CMakeLists.txt
cmake/test/default/CMakePresets.json
cmake/test/default/.generated/file.cmake
cmake/test/default/.generated/main.cmake
cmake/test/default/.generated/overrides.cmake
cmake/test/default/.generated/rule.cmake
cmake/test/default/.generated/toolchain.cmake
